/* Caruousal CSS START */
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

img{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 500px;
    overflow: hidden;
  }

.image-container {
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out; 
}

.buttons-container {
    display: flex; 
    justify-content: space-between;
}

.btn {
    background-color: rebeccapurple;
    color: #ffffff;
    border: none;
    width: 49.5%;
    padding: 8px;
    cursor: pointer;   
}

.btn:hover {
    opacity: 0.7;
  }
/* Caruousal CSS END */