* {
    margin: 0;
    padding: 0;

}

/* logo css start */
.header {
    background-color: rgb(151, 209, 209);
}

.logo_icon {
    padding-left: 0.5rem;
    width: 4rem;
    height: 4rem;
    padding-bottom: 0.8rem;
}

.logo_name_icon {
    padding-top: 0.2rem;
    width: 20rem;
    height: 6rem;
}

/* logo css end */

/* sign css start */
.sign {
    float: right;
    padding-top: 3rem;
    padding-right: 1.5rem;
    font-size: 1.5vw;
}

.sign_in,
.sign_up {
    padding: 0.2rem;
    text-decoration: none;
}

.fa-right-to-bracket {
    padding-right: 5px;
}

.admin-login {
    padding: 0.2rem;
    text-decoration: none;
    color: black;
}

/* Sign css end */

/* NAV CSS START */
.nav {
    align-items: center;
    text-align: center;
    background-color: rgba(176, 103, 196, 0.986);
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;

}

.nav_item {
    padding: 0.6rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: azure;
}

/* NAV CSS END */

/* main image */
img {
    width: 100%;
    height: 70%;
    object-fit: fill;
}

/* main image end */

/* service opation start */
.service {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.service-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    display: grid;
    column-gap: 10vw;
    grid-template-columns: auto auto auto;

}

.service-list-item {
    font-size: 4vw;
    text-align: center;
    color: rgba(176, 103, 196, 0.986);
    padding: 4.6vw;
    background-color: rgb(151, 209, 209);
    border-top: 8px solid #c473b9;
    box-shadow: 0 10px 12px 0 #ec14b6e5;
}

/* service option end */

/* footer CSS Start */
footer {
    margin-top: 5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: rgb(151, 209, 209);
}

.box-foot {
    display: flex;
    justify-content: space-between;
    margin: 3vw 3.5vw;

}

.icons-foot {
    font-size: 3vw;
    padding: 0.5vw;
}

.fa-facebook {
    color: rgb(52, 136, 254);
}

.fa-twitter {
    color: rgb(24, 189, 255);
}

.fa-instagram {
    color: #fe4da9;
}

.fa-envelope {
    color: rgb(12, 185, 253);
}

.fa-youtube {
    color: red;
}

.fa-whatsapp {
    color: rgb(4, 210, 4);
}

.foot-btn-type {
    font-size: 1.4vw;
    width: 15vw;
    height: 4vw;
    margin-right: 5px;
    background-color: rgb(255, 125, 147);
    border: none;
}

.creator {
    font-size: 15px;
    text-align: center;
}

/* footer end */

/* menu CSS Start */
.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 1vw;
    display: flex;
    justify-content: space-between;
}

.card-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    list-style-type: none;
    margin-bottom: 1.5vw;
}

.card-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.price {
    font-size: 2vw;
}

.discription {
    font-size: 1.5vw;
}

.card-tag {
    text-align: center;
    font-family: arial;
    padding: 10px 16px;
}

/* menu css ends */
@media only screen and (min-width: 1024px) {

    .menu ul li {
        flex: 30%;
        margin: 10px;
        padding-bottom: 40px;
    }

    .discription {
        font-family: arial;
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {

    .sign {
        display: flex;
        flex-direction: column;
    }

    .menu ul li {
        flex: 45%;
        margin: 10px;
    }
    .review-card{
        flex: 30%;
    }
}

@media only screen and (max-width: 425px) {

    .logo_name_icon {
        width: 10rem;
        height: 5rem;
    }

    .sign {
        font-size: 3vw;
    }

    .menu ul li {
        flex: 80%;
        margin: 10px;
    }

    .card-tag h1 {
        font-size: 5vw;
    }

    .card-tag p {
        font-size: 3.5vw;
    }

    .foot-btn-type {
        font-size: 10px;
        height: 9vw;
    }

    .icons-foot {
        font-size: 5vw;
        padding: 0.5vw;
    }

    .creator {
        font-size: 10px;
        text-align: center;
    }
}

/* MENU CSS END */

/* SignIn page CSS */
.create-account,
.login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2vw auto auto auto;
    background-color: aquamarine;
    padding: 15px;
}

.create-account h3,
.login h3 {
    padding: 10px;
    text-align: center;
}

.create-account,
.login {
    border-radius: 15px;
}

.create-account input,
button,
.login input {
    padding: 5px;
    border: none;
}

.account {
    text-align: center;
    padding: 0.5vw;

}

.account a {
    text-decoration: none;
}

/* sign in sign out and admin page css end */

/* order online start */

.order-btn {
    margin-top: 3vw;
    width: 100%;
    color: rgba(176, 103, 196, 0.986);
    background-color: rgb(151, 209, 209);
    padding: 1.5vw 0 1.5vw 0;
    font-size: 20px;
    font-weight: bold;

}

.view-cart-btn {
    margin-top: 3vw;
    width: 100%;
    color: rgba(151, 209, 209);
    background-color: rgba(176, 103, 196, 0.986);
    padding: 1.5vw 0 1.5vw 0;
    font-size: 20px;
    font-weight: bold;

}

/* order online end */

/* Home Page carousal css start */

div div .carousal-img {
    width: 1400px;
    height: 36.6vw;
    object-fit: cover;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 39vw;
    width: 90vw;
    overflow: hidden;
    margin: 5vw;
}

.image-container {
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rebeccapurple;
    color: #ffffff;
    border: none;
    width: 49.5%;
    padding: 8px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

/* Home Page carousal css end */

/* Rating Page CSS Start */

.review-cardbox{
    display: flex;
    padding: 1.5%;
    flex-wrap: wrap;
}
.review-card{
    display: flex;
    flex-wrap: wrap;
    flex: 20%;
    padding: 0.5%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1%;
}

.review-img-id{
    display: flex;
    padding: 1.5%;
}
.review-images{
    width: 40%;
    height: 80%;
    border-radius: 50%;
}

.review-images img{
    width: 50%;
    height: 90%;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .review-card {
      flex: 31%;
    }
  }
  @media (max-width: 425px){
  .review-card {
      flex: 50%;
  }
}